@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&displat=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font: 1.5rem 'Raleway',sans-serif;
    background-image: linear-gradient(to right, #cce 20%, #ecc9 40%);
}